@charset "utf-8";
body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #555;
    background-color:#93004e;
}

a {
    color: #555;
    text-decoration: none;
}

.clear-both {
    clear:both;
}

.header {
    width:100%;
}

.header .header-body {
    padding: 10px;
    color:#EEE;
    position:relative;
    height:60px;
}

.menuNav {
	position:absolute;
	z-index:6;
	top:50px;
	left:0;
	width:100%;
	background-color:#93004e;
}

.header .header-title {
    position:absolute;
    top:5px;
    bottom:5px;
    left:10px;
}

.header-title a {
    display:block;
    float:left;
    color:gold;
    text-decoration: none;
    font-size:20px;
    font-weight:600;
    line-height:50px;
}

.header-title a:first-of-type {
    background-image: url(../images/logo50x50.png);
    background-repeat: no-repeat;
    padding-left:50px;
    margin-right:10px;
}

.header-title a:last-of-type {
    margin-left: 10px;
    font-size:14px;
    color:#EFEFEF;
}

.header .header-menu {
    position:absolute;
    top:5px;
    bottom:5px;
    right:10px;
}

.header .header-menu a {
    line-height:50px;
    font-size:20px;
    color:#FFF;
    cursor:pointer;
	margin-left:10px;
}

.header .header-foot {
    position:relative;
    background-color:#222222;
    color:#999;
    font-size:0.8em;
    height: 25px;
}

.header-foot .current-menu {
    position: absolute;
    left:10px;
    top:0;
    height: 25px;
    line-height: 25px;
}

.current-menu a{
    text-decoration: none;
    color: inherit;
}

.header-foot .today {
    position: absolute;
    right:10px;
    top:0;
    height: 25px;
    line-height: 25px;
}

.body {
	position:relative;
    width:100%;
    background-color:#FFF;
    min-height: 200px;
}

.ajaxLoader {
    position:fixed;
    z-index:2;
    top:0;
    bottom:0;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/loading.gif);
}

.myContainer {
    padding: 10px;
}

.bodyMask {
	position:absolute;
	z-index:3;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	background-color:gray;
	opacity: 0.6;
}

.footer {
    width:100%;
    color:#FFF;
	height:40px;
    line-height:40px;
    text-align: center;
}

.footer span, .footer a {
    margin-right:5px;
    color:#eee;
    text-decoration: none;
}

.word {
	word-break: break-all; 
	word-wrap: break-word;
	font-size:1.1em;
	line-height:1.4;
}

/*----------------------------index-------------------------------------*/

.forum-list {
    padding:20px 10px;
}

.forum-list a {
    margin:5px;
}

.userInfo {
    padding: 20px 10px;
}

.userInfo li span {
    display: inline-block;
    text-align:left;
}

.userInfo li span.item {
    width:100px;
}

div.top-list{
    position: relative;
    display: block;
    padding: 5px 5px 25px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-decoration: none;
}
.top-list a{
	text-decoration: none;
}

.top-list:hover{
    background-color: #efefef;
}

.top-list:first-of-type {
    border-top:none;
}

.top-list h4 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    height:1.2em;
    overflow:hidden;
}

.top-list p.introduction {
    color:#999;
    max-height:3.9em;
    overflow:hidden;
}

.top-list p.about {
    position:absolute;
    right:10px;
    bottom:-5px;
    color:#999;
}

.no-item {
    margin:20px 0;
}

.items-list .admin,.reply .admin {
    position: absolute;
	bottom:-10px;
    text-align: left;
    color: #ccc;
    font-size: 20px;
    z-index:2;
}

.items-list .admin label {
    -webkit-filter:opacity(.4);
	margin-right:10px;
    cursor: pointer;
}

.items-list .admin label:hover, {
    color:#999;
    -webkit-filter:opacity(.8);
}

.items-list .admin label.topped:hover,.items-list .admin label.selected,.items-list .admin label.topped{
    color:#080808;
    -webkit-filter:opacity(.9);
}

#admin_form {
    position:relative;
}

.btn-list {
	position:fixed;
    z-index:3;
    bottom:40px;
    width:100%;
	text-align:center;
	background-color: red;
	padding:10px 0;
	-webkit-filter:opacity(.8);
}

.user-list {
    padding:10px;
    margin:0 auto;
    border-top:1px solid #cecece;
    min-height:40px;
}

.user-list:first-of-type {
    border-top:none;
}

.user-list:hover {
    background-color: #EFEFEF;
}

.user-list div {
    float:left;
    margin-right:10px;
    height:40px;
}

.user-list .timestamp {
    float:right;
    margin:0;
}

.user-list .admin label {
    -webkit-filter:opacity(.4);
    margin-right:10px;
    font-size: 20px;
    cursor: pointer;
}

.user-list .admin label:hover {
    color:#999;
    -webkit-filter:opacity(.8);
}

.user-list .admin label.selected{
    color:#080808;
    -webkit-filter:opacity(.9);
}

.modal-body label {
    cursor: pointer;
}

.modal-body label .glyphicon {
    color:#CCC;
    cursor: pointer;
}

.modal-body label .glyphicon.selected{
    color:#080808;
}

/*-------------------------------------post---------------------------------*/
.post .content{
    border-top:1px solid #ddd;
    padding:20px 10px;
}

.post h4 {
    font-family: inherit;
    font-weight: 900;
    line-height: 1.3;
    padding:10px 5px;
}

.post .content p {
    text-indent:30px;
}

.post .content  img{
    margin:5px auto;
    border-radius: 3px;
}

.post  .content a {
    background-color: #f5f5f5;
    text-decoration: underline;
}

.post .post-about {
    text-align: right;
    color:#999;
    padding:5px;
}

.post .post-about  span{
    margin-right:5px;
}

.post-about a {
    text-decoration:none;
}

.post .attitude{
    background-repeat: no-repeat;
    background-position: center top;
    padding:53px 0 5px;
    text-align: center;
    cursor: pointer;
}

.post .happy {
    background-image:url(../images/happy.png);
}

.post .angry {
    background-image:url(../images/angry.png);
}

.post .sad {
    background-image:url(../images/sad.png);
}

.attitude.selected span {
    color:red;
}

.post .done .attitude {
    cursor: default;
}

.post_source {
    text-align: center;
    margin:10px 0;
}

.post_source a {
    color:#999;
    text-decoration: none;
}

/*——————————————————reply————————————————————*/
.thread .thread-about {
    padding:10px 5px;
    background-color:#efefef;
}

.thread-about .title{
    text-decoration: none;
}

.thread h4 {
    font-family: inherit;
    font-weight: 900;
    line-height: 1.3;
}

.thread-about .author {
    text-indent:10px;
}

.reply {
    position:relative;
    padding: 30px 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.reply:last-of-type {
    border-bottom:none;
}

.reply .reply-header {
    position:absolute;
    right:10px;
    top:5px;
    color:#999;
}

.reply-header span {
    margin-left:10px;
}

.reply-header .support {
    background-image:url(../images/support.png);
}

.reply-header .oppose {
    background-image: url(../images/oppose.png);
}

.reply-header .support.selected {
    background-image:url(../images/supported.png);
}

.reply-header .oppose.selected {
    background-image: url(../images/opposed.png);
}

.reply-header .thumb {
    background-repeat:no-repeat;
    padding-left:20px;
    background-position: left center;
    cursor: pointer;
}

.reply .done .thumb {
    cursor:default;
}

.reply  .content a {
    background-color: #f5f5f5;
    text-decoration: underline;
}

.reply .content p {
    text-indent:30px;
}

.reply .content img {
    margin:5px auto;
    border-radius: 3px;
}

.reply .reply-about {
    text-align: right;
    color:#999;
    padding:5px;
}

/*---------------------------------box menu----------------------------------*/
.my_box_nav .box_linker {
    margin:10px auto;
    cursor: pointer;
    text-align: center;
    color:#FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background-color:gray;
}

div:nth-child(1) .box_linker{
	background-color: deeppink;
}

div:nth-child(2) .box_linker{
	background-color: chocolate;
}

div:nth-child(3) .box_linker{
	background-color: blue;
}

div:nth-child(4) .box_linker{
	background-color: red;
}

div:nth-child(5) .box_linker{
	background-color: darkviolet;
}

div:nth-child(6) .box_linker{
	background-color: orange;
}

div:nth-child(7) .box_linker{
	background-color: darkcyan;
}

div:nth-child(8) .box_linker{
	background-color: seagreen;
}

div:nth-child(9) .box_linker{
	background-color: violet;
}

div:nth-child(10) .box_linker{
	background-color: navy;
}

div:nth-child(11) .box_linker{
	background-color: tomato;
}

div:nth-child(12) .box_linker{
	background-color: darkslategray;
}

.my_box_nav a {
    display:block;
    height:100%;
    color:#FFFFFF;
    text-decoration: none;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.my_box_nav a h5 {
    margin:5px;
}

.my_box_nav a h5 {
    min-height:15px;
    max-height: 30px;
    overflow:hidden;
    vertical-align: middle;
}

.my_box_nav a:hover {
    color: #fff;
    background-color: #563d7c;
}

/*------------Duoshuo Css-----------*/
.ds-meta {
    display:none;
}